<div style="margin: auto; width: 70%; margin-top: 30px">
	<div>
		<form [formGroup]="searchForm">
			<mat-form-field style="width: 100%">
				<input
					matInput
					formControlName="searchTerm"
					placeholder="Enter your text"
				/>
			</mat-form-field>

			<mat-form-field style="width: 50%; font-weight: lighter">
				<mat-label>Providers</mat-label>
				<mat-select formControlName="providers" multiple>
					<mat-option
						*ngFor="let provider of providerList"
						[value]="provider"
						>{{ provider }}</mat-option
					>
				</mat-select>
			</mat-form-field>
			<button class="ml-2" mat-button (click)="resetProviders()">RESET</button>
		</form>
	</div>
</div>
<h1 class="app-home__title">All Games</h1>
<div class="p-4 sm:ml-64">
	<div class="rounded-lg border-2 border-dashed border-gray-200 p-4">
		<div class="container">
			<div class="thumbnail-grid">
				<div *ngFor="let game of games" class="thumbnail">
					<img
						[src]="game.thumb ? game.thumb.url : 'assets/images/dummy.png'"
						[alt]="game.thumb ? game.thumb.title : 'No Title'"
						class="w-full h-24 object-contain"
					/>
					<button
						mat-flat-button
						color="primary"
						mat-button
						(click)="startGame(game.slug)"
					>
						Play for Fun
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
